* {
    box-sizing: border-box;
}
:root {
    --second-color: #10375C;
    --primary-color: #2E80CE;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* common */
a {
    text-decoration: none;
}
.btn {
    padding: 8px 20px;
    background: var(--primary-color);
    border-radius: 30px;
    line-height: 1.8;
    color: #fff;
}
.btn:hover {
    font-weight: 400;
}
/* Header */
.header {
    min-height: 100vh;
    background: var(--second-color);
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
/* Logo */
.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;

}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;

}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}
.logo__circle::after {
    position: absolute; 
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}
.logo__text {
    margin-left: 0.6em;
    text-align: right;
    color: #fff;
}
.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}
.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* Navbar */
.navbar__list {
    display: flex;
    gap: 42px;
}
.navbar__link {
    font-weight: 300;
    color: #C9D2DA;
    line-height: 1.8;
}
.navbar__item--active {
    position: relative;
}
.navbar__item--active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: -30%;
    top: 40%;
    background: #FFFFFF;
    border-radius: 50%;
}
.navbar__item--active .navbar__link,
.navbar__link:hover {
    color: #fff;
}
/* Action */
.action {
    display: flex;
    align-items: center;
    gap: 28px;
}
.action__btn {
    font-weight: 300;
    color: #C9D2DA;
}
.action__btn:hover {
    color: #fff;
}
