* {
    box-sizing: border-box;
}
:root {
    --primary-color: #2E80CE;
    --second-color: #10375C;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* common */
a {
    text-decoration: none;
}
.btn {
    max-width: 205px;
    padding: 15px 20px;
    background: var(--primary-color);
    border-radius: 30px;
    line-height: 1.8;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.section-heading {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375C;
}
.section-desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575F66;
}
.btn:hover {
    font-weight: 400;
}
/* Header */
.header {
    min-height: 100vh;
    padding: 30px 0 110px;
    background: var(--second-color);
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Logo */
.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;

}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;

}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}
.logo__circle::after {
    position: absolute; 
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}
.logo__text {
    margin-left: 0.6em;
    text-align: right;
    color: #fff;
}
.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}
.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* Navbar */
.navbar__list {
    display: flex;
    gap: 42px;
}
.navbar__link {
    font-weight: 300;
    color: #C9D2DA;
    line-height: 1.8;
}
.navbar__item--active {
    position: relative;
}
.navbar__item--active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: -30%;
    top: 40%;
    background: #FFFFFF;
    border-radius: 50%;
}
.navbar__item--active .navbar__link,
.navbar__link:hover {
    color: #fff;
}
/* Action */
.action {
    display: flex;
    align-items: center;
    gap: 28px;
}
.action__btn {
    font-weight: 300;
    color: #C9D2DA;
}
.action__btn:hover {
    color: #fff;
}
.action .btn {
    min-width: 104px;
    padding-top: 8px;
    padding-bottom: 8px;
}
/* Hero */
.hero {
    display: flex;
    align-items: center;
    gap: 113px;
    margin-top: 76px;
}
.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}
.hero__row {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 38px;
}
.hero__phone {
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
}
/* Hero media */
.hero__images {
    display: flex;
    align-items: center;
}
.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}
.hero__img--small {
    width: 210px;
    height: 410px;
}
/* service */
.service {
    padding: 170px 0;
}
.service__heading,
.service__desc {
    text-align: center;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 130px;
}
.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.service-item {
    display: flex;
    gap: 19px;
    padding: 20px;
    border-radius: 10px;
    transition:all ease .3s;
}
.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon{
    background: var(--primary-color);
    color: #fff;
}
.service-item__icon {
    display: inline-block;
    height: 60px;
    background: #EFF6FD;
    color: var(--second-color);
    padding: 18px 19px;
    border-radius: 50%;
    transition:all ease .3s;
}
.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.28;
    color: #10375C;
}
.service__item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}
.service__btn {
    margin-top: 55px;
}
/* Work */
.work {
    padding: 100px 0 116px;
    background: #F6FBFF;
}
.work__list {
    display: flex;
    gap: 30px;
}
.work-item {
    margin-top: 70px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 44px 42px;
    cursor: pointer;
    transition: ease-in .2s;
}
.work-item:hover {
    border-color: var(--primary-color);
    transform: translateY(-16px);
}
.work-item:hover .work-item__link {
    font-weight: 400;
    color: var(--primary-color);
}
.work-item__heading {
    margin-top: 18px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375C;
}
.work-item__desc,
.work-item__link {
    display: block;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}
/* Features */
.feature {
    padding: 170px 0;
}
.feature__row {
    display: flex;
    gap: 130px;
}
.feature__images-wrap {
    position: relative;
}

.feature__img {
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
    object-fit: cover;
}
.feature__img:first-child {
    width: 512px;
    height: 370px;
}
.feature__img:last-child {
    position: absolute;
    top: 121px;
    left: 238px;
    z-index: 1;
    width: 322px;
    height: 370px;
}
.feature__body {
    margin-top: 60px;
    margin-left: auto;
    width: 40%;
}
.feature__btn {
    margin-top: 38px;
}